.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: wheat;
}

.new{
    width: 80px;
    height: 80px;
    
    padding: 20px;
    float: left;
    position: fixed;
    left: -3px;
    color: wheat;
    margin-top: -5%;
}

#mySidenav a {
    position: absolute;
    left: -10px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #kandy {
    top: -200px;
    background-color: #4CAF50;
  }
  
  #colombo {
    top: -140px;
    background-color: #2196F3;
  }
  
  #galle {
    top: -80px;
    background-color: #f44336;
  }
  
  #matara {
    top: -20px;
    background-color: #4CAF50
  }

  #ella {
    top: 40px;
    background-color: #2196F3
  }

  #jaffna {
    top: 100px;
    background-color: #f44336
  }